<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
</head>
<style>
    <style>html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .company-logo {
        max-width: 100px;
        /* Adjust as needed */
        margin-bottom: 20px;
    }

    #password-requirements li {
        color: gray;
        list-style-type: none;
    }

      #feedback-pw-confirm {
            display: none; /* Initially hidden */
        }
</style>

<body>
    <div class="container">
        <img src="/assets/splat.svg" alt="Company Logo" class="company-logo">

        <div class="card" style="width: 22rem;"> <!-- Adjusted width -->
            <div class="card-header">Register Form</div>
            <div class="card-body">

                <form action="/auth/register" method="POST">
                    <div class="mb-3">
                        <label for="name-reg" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name-reg" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="email-reg" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email-reg" name="email" onkeyup="checkEmail()">
                        <div id="email-feedback" style="color: red;"></div>
                        {{!-- <div id="feedback-email" class="alert alert-danger mt-4" style="display: none; color:"></div> --}}

                    </div>
                    <div class="mb-3">
                        <label for="password-reg" class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password-reg" name="password"
                                oninput="validatePassword()">
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                <!-- Password Eye Icon SVGs -->
                                <span class="w-6 h-6"
                                    style="display: flex; justify-content: center; align-items: center; width: 24px; height: 24px;">
                                    <!-- Open Eye SVG -->
                                    <svg id="openEye" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" style="width: 20px; height: 20px;">
                                        <!-- Open eye path here -->
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                    <!-- Closed Eye SVG -->
                                    <svg id="closedEye" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        style="display: none; width: 20px; height: 20px;">
                                        <!-- Closed eye path here -->
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <ul id="password-requirements">
                            <li id="req-length">At least 8 characters</li>
                            <li id="req-uppercase">At least one uppercase letter</li>
                            <li id="req-special-char">At least one non-alphanumeric character</li>
                        </ul>
                    </div>

                    <div class="mb-3">
                        <label for="password-conf-reg" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password-conf-reg" name="password_confirm">
                        <div id="feedback-pw-confirm" class="alert alert-danger mt-4" style="display: none;"></div>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
        </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordInput = document.getElementById('password-reg');
        const confirmPasswordInput = document.getElementById('password-conf-reg');
        const emailInput = document.getElementById('email-reg');
        const feedbackElementPw = document.getElementById('feedback-pw');
        const feedbackElementPwConf = document.getElementById('feedback-pw-confirm');
        const feedbackElementEmail = document.getElementById('feedback-email');

        document.getElementById('togglePassword').addEventListener('click', function (e) {
            const passwordInput = document.getElementById('password-reg');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            // Toggle icons visibility
            if (type === 'password') {
                openEye.style.display = 'block';
                closedEye.style.display = 'none';
            } else {
                openEye.style.display = 'none';
                closedEye.style.display = 'block';
            }
        });


        function validatePassword() {
            const password = document.getElementById('password-reg').value;
            const reqLength = document.getElementById('req-length');
            const reqUppercase = document.getElementById('req-uppercase');
            const reqSpecialChar = document.getElementById('req-special-char');

            // Length requirement
            if (password.length >= 8) {
                reqLength.style.color = 'green';
            } else {
                reqLength.style.color = 'red';
            }

            // Uppercase requirement
            if (password.match(/[A-Z]/)) {
                reqUppercase.style.color = 'green';
            } else {
                reqUppercase.style.color = 'red';
            }

            // Special character requirement
            if (password.match(/[^a-zA-Z\d]/)) {
                reqSpecialChar.style.color = 'green';
            } else {
                reqSpecialChar.style.color = 'red';
            }
        }

         confirmPasswordInput.addEventListener('input', function () {
                const password = passwordInput.value;
                const confirmPassword = confirmPasswordInput.value;

                // Check if passwords match
                if (password === confirmPassword) {
                    feedbackElementPwConf.style.display = 'none';
                } else {
                    feedbackElementPwConf.style.display = 'block';
                    feedbackElementPwConf.textContent = 'Passwords do not match.';
                }
            });

        function validateEmail() {
            const email = emailInput.value;
            if (!email.match(/^\S+@\S+\.\S+$/)) {
                feedbackElementEmail.innerHTML = "Please enter a valid email address.";
            } else {
                feedbackElementEmail.innerHTML = "";
            }
        }

        passwordInput.addEventListener('input', validatePassword);
        confirmPasswordInput.addEventListener('input', validatePassword);
        emailInput.addEventListener('input', validateEmail);
    });

    function checkEmail() {
        var email = document.getElementById('email-reg').value;

        if (email.length === 0) {
            document.getElementById('email-feedback').innerHTML = '';
            return;
        }

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/check-email?email=' + encodeURIComponent(email), true);
        xhr.onload = function () {
            if (this.status == 200) {
                document.getElementById('email-feedback').innerHTML = this.responseText;
            }
        };
        xhr.send();
    }
</script>

</html>